dist
node_modules
prod/*
pnpm-lock.yaml

!static/
static/*

!static/dev/
static/dev/*
!static/dev/readme.md

!static/prod/
static/prod/*
!static/prod/readme.md

!static/test/
static/test/*
!static/test/readme.md
